# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet @rue-network
consensus          @rue-network
core/              @rue-network
rue/               @rue-network
mobile/            @rue-network
p2p/               @rue-network
